.btn {
  display:block;
  border: 2px solid black
}

#result {
  display:none;
}

h1 {
  color: skyblue;
  text-align: center;
}

img {
  float: left;
  padding-right:1cm;
  border-radius: 1cm;
}

p {
  font-family: Roboto;
}

div  {
  border-style: solid;
  color:white

}

body {
  background: black
}
